@charset "UTF-8";

textarea {resize: none;}
.f-a-n {text-decoration:none;}
.f-a-n:hover {text-decoration:underline;}
.text-area {width:100%; max-height:250px;}
.text-useyn {font-size:12px; text-align:center; font-weight:bold !important;}
.fs-12 {font-size:12px !important;}
.f-w-b {font-weight:bold !important;}
